@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<CadetTest.Controllers.HomeController.cont>


<div id="divTable">

    <center><h2>İçerik Tablosu</h2></center>
    <br />
    <center><button type="button" style="color:cornflowerblue; width:150px; height:50px" data-toggle="modal" data-target="#InsertRecord"><b>Yeni Kayıt Ekle</b></button></center>
    <br />

    <table id="tableContent">
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Recipient</th>
            <th>Status</th>
            <th>RecipientType</th>
            <th>İşlemler</th>
        </tr>
        @for (int i = 0; i < Model.Count; i += 10)
        {
            bool isTen = true;
            if (Model.Skip(i).Take(10).Count() != 10)
            {
                isTen = false;
            }
            @foreach (var content in Model.Skip(i).Take(10))
            {
                <tr>
                    <td>@content.id</td>
                    <td>@content.type</td>
                    <td>@content.recipient</td>
                    <td>@content.status</td>
                    <td>@content.recipientType</td>
                    <td><button id="buttonEdit" style="color:darkgreen" data-toggle="modal" data-target="#EditRecord" onclick="GetDetailContent(@content.id)">Düzenle</button>&nbsp;&nbsp;&nbsp;&nbsp;<button id="buttonDelete" style="color:red" onclick="DeleteContent(@content.id)">Kaydı Sil</button></td>
                </tr>
            }
            if (isTen == true)
            {

                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Saat: @DateTime.Now.ToString()</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            }
        }

    </table>
</div>

